on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - name: Hello world action step
        id: hello
        uses: alsuppes/barsoom@0.0.6
        with:
          name: 'Suppes'
      # Use the output from the `hello` step
      - name: Get the Output
        run: echo "The time was ${{ steps.hello.outputs.greeting }}"
